sudo: false
language: rust
matrix:
  include:
    - rust: nightly
      # env:
      #   # will have to be commented out the following line
      #   - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
    - rust: beta
    - rust: 1.17.0

install:
  - rvm use 2.2
  - bundle install --path vendor/bundle

script:
  - bundle exec fluentd -c conf/in_forward.conf &
  - cargo test --features "readme-testing fluentd"

after_script:
  - killall -SIGTERM ruby
