version: '{build}'
os:
  - Visual Studio 2015
environment:
  matrix:
    - TARGET: x86_64-pc-windows-msvc
      BITS: 64
      RUSTVER: 1.22.1
    - TARGET: x86_64-pc-windows-msvc
      BITS: 64
      RUSTVER: 1.22.1

install:
  - ps: Start-FileDownload "https://static.rust-lang.org/dist/rust-${env:RUSTVER}-${env:TARGET}.exe"
  - rust-%RUSTVER%-%TARGET%.exe /VERYSILENT /NORESTART /DIR="C:\Program Files (x86)\Rust"
  - SET PATH=%PATH%;C:\Program Files (x86)\Rust\bin
  - SET PATH=%PATH%;C:\MinGW\bin
  - rustc -V
  - cargo -V

build: false

test_script:
  - cargo test
